/* This application uses BEM methodology for css naming 
For more information, please visit http://getbem.com/ */

h1 {
    text-align: center;
    padding: 30px;
}

.user-layout__col {
    padding: 0;

}

.user-layout__col--inner {
    border: 1px solid grey;
    border-radius: 3px;
    margin: 5px;
    height: 200px;
    text-align: center;
    p {
        margin: 0;
    }
    img {
        margin: 10px;
        border-radius: 50%;
    }
}
